<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta author="Luismaprzzzz">
    <meta descripcion="esta es una pagina web de ejemplo">
    <meta keywords="html, Aplicaciones web">

    <title>Skeetss</title>
    <link rel="shortcut icon" href="./static/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./static/CSS/styles.css" type="text/css">
</head>
<body>
<div class="grid-container">
  <div class="header">
      <header...>
      <h1>Dale Play</h1>
      </header...>


</div>
            <div class="menu">
                <nav>
                    <ul>
                        <li><a href="/index">Inicio</a></li>
                        <li><a href="#">Mas...</a></li>
                        <li><a href="#">Productos</a></li>
                        <li><a href="/rejilla">Dale Play</a></li>
                    </ul>
                </nav>
            </div>
  </div>
<div class="play">
                <section>
                    <article>
                        <p>Bienvenido a dale play, un espacio para musica donde descubriras artistas emergentes.</p>
                    </article>
                </section>

</div>

<div>
  <div class="left" style="background-color:#6CF257;">
<video src="./static/videos/pabliitomix.mp4"controls></video><p>I do Coke bootleg - pablitomiix</p>

  </div>

  <div class="middle" style="background-color:6CF257;">
<video src="./static/videos/craneo.webm"controls></video><p>Cráneo - RUBIK | Prod. Felipe Gordon</p>
  </div>

  <div class="right" style="background-color:#6CF257;">
<video src="./static/videos/bejo.webm"controls></video><p>BEJO- GUAGU (PROD. COOKIN SOUL)</p>
  </div>

  <div class="footer">
  <p>Luismaprzzzz</p>
  </div>

</div>
</div>
</body>
</html>