<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Iniciar Sesion JBS</title>
    <link rel="shortcut icon" href="./static/images/JBS.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="./static/CSS/Inicio.css" type="text/css">

</head>
<body>
<div class="navegacion">
<nav class="navbar ">

    <a class="navbar-brand" href="#">
      <img src="./static/images/Logo SS.png" alt="" width="100" height=100" class="d-inline-block align-text-start">

    </a>
    <a class="nav-link" href="/"><h2>Inicio</h2></a>

    <a class="nav-link active" aria-current="page" href="/Formulario"><h2>Crear Cuenta</h2></a>

    <a class="nav-link" href="#"><h2>Descargar</h2></a>



</nav>

</div>




<div class="Datos text-center">

  <h1>Email</h1>
    <input type="email"  id="exampleInputEmail1" aria-describedby="emailHelp">

   <h1>Contraseña</h1>
    <input type="password"  id="exampleInputPassword1">



</div>

 <div class="olvidar text-center">
<p class="text-decoration-underline">Olvidaste tu contraseña</p>
</div>

    <div class="bot text-center ">

        <a class="btn btn-outline-light" href="/Perfil" role="button"><p>Iniciar</p></a>
    </div>


<div class="fot text-center">
     <img src="./static/images/wr.png" alt="" width="100" height=50" class="d-inline-block align-text-end">
</div>


</body>
</html>