<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta author="Luismaprzzzz">
    <title>JBS.com</title>
    <meta keywords="JBS">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="./static/CSS/Estilo.css" type="text/css">
    <script></script>

</head>

<body>
<div class="navegacion">
<nav class="navbar ">

    <a class="navbar-brand" href="#">
      <img src="./static/images/Logo SS.png" alt="" width="100" height=100" class="d-inline-block align-text-start">

    </a>

    <a class="nav-link active" aria-current="page" href="#"><h2>Acerca de...</h2></a>

    <a class="nav-link" href="/iniciar"><h2>Iniciar Sesion</h2></a>

    <a class="nav-link" href="#"><h2>Descargar</h2></a>

</nav>

</div>
<div class="mensaje text-start text-white-50">

    <p>Bienvenido a JBS</p>

</div>
<div class="contexto text-start text-white-50">

<p class="lh-1">Publica tu anuncio de empleo para que lo vean millones de personas</p>
<p class="lh-sm">Encuentra el empleo o las prácticas adecuadas para ti </p>
<p class="lh-base">Súmate a tus compañeros y amigos en JBS</p>

</div>

<div class="Iniciar text-start">

   <a class="btn btn-outline-light" href="/Formulario" role="button">Iniciar</a>

</div>

<div class="ima text-end">
     <img src="./static/images/por.png" alt="" width="100" height=100" class="d-inline-block align-text-end">
</div>


</body>
</html>